# After editing this file, run following commands:
#
# $ python tools/apply_config.py
# $ python tools/update_deps.py


[project]
# A directory for a development phase.
development=development

# A directory for a production phase.
production=production

# A namespace of the app entry point.
main_namespace=foo.Main

# A file name of the compiled script.
compiled_js=script.min.js


[library]
# A local root directory of the library.
local_root=closure/library

# A global root directory of the library, used in development phase.
#
# e.g.
# <script src="{global_path}/closure/goog/base.js"></script>
global_root=../closure/library


[compiler]
# A root directory of the compiler.
root=closure/compiler

# Compilation level of the compiler.
# See the following link for more information:
# https://developers.google.com/closure/compiler/docs/compilation_levels
#
# compilation_level = (WHITESPACE_ONLY|SIMPLE_OPTIMIZATIONS|ADVANCED_OPTIMIZATIONS)
compilation_level=ADVANCED_OPTIMIZATIONS
